* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent {
  margin: 50px;
  display: flex;
  justify-content: space-between;
}

.child {
  width: calc(100% / 5 - 40px);
  height: 100px;
  padding: 10px;
  background: red;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease-out;
}

.new {
  background-color: #fff;
  border: 2px solid brown;
  border-radius: 50%;
  color: burlywood;
  text-shadow: 1px 0 0 black;
  transition: 0.3s;
  text-align: center;
}

.grad {
  height: 10px;
  background-color: red;
  width: 10%;
  transition: 10s;
}

.slider {
  margin: 50px auto;
  width: 80%;
  text-align: center;
}

.caption {
  position: absolute;
  bottom: 30px;
  width: 70%;
  margin-left: 15%;
}

img {
  border: 1px solid #eee;
  cursor: pointer;
  height: 300px;
  object-fit: contain;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transform: 0.3s;
}

.imageInside {
  width: 60%;
  height: 60vh;
  background-image: url(./images/babycar.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #eee;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.imageInside i {
  font-size: 40px;
  color: #ffff;
  margin: 0 20px;
  cursor: pointer;
  transition: .3s;
}

.imageInside i:hover {
  color: Red;
}

#close {
  position: absolute;
  top: 20px;
  right: 10px;
}

