* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #eee;
  font-family: monospace;
}

.container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  transition: 0.3s;
}

.tasks {
  margin: 50px 0;
}

.tasks h3 {
  font-size: 60px;
  margin-bottom: 20px;
}

.tasks .header {
  background-color: cornflowerblue;
  padding: 30px;
  text-align: center;
  color: #fff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.tasks .add {
  display: flex;
  gap: 2%;
}

.tasks .add input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.myTasks {
  background-color: #fff;
  padding: 20px;
  min-height: 300px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.myTasks h4 {
  text-align: center;
  color: #ccc;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.myTasks ul {
  list-style: none;
}

ul li {
  padding: 10px;
  background-color: #f8f9fa;
  margin-bottom: 5px;
  border-radius: 4px;
}

ul li:last-child {
  margin-bottom: 0;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task h3 {
  font-size: 20px;
  margin-bottom: 0;
}

button.btn {
  width: 10%;
  background-color: #fff;
}

button.btn:hover {
  background-color: #e7eaec;
}

.btns {
  display: flex;
  gap: 10px;
}

.btns button {
  padding: 10px 15px;
}

.none {
  display: none;
}

.block {
  display: block;
}

.delete {
  border: 1px solid red;
  color: red;
  background-color: #f8f9fa;
}

.delete:hover {
  background-color: red;
  color: #fff;
}

.edite {
  border: 1px solid rgb(255, 167, 3);
  color: rgb(255, 167, 3);
  background-color: #f8f9fa;
}

.edite:hover {
  background-color: rgb(255, 167, 3);
  color: #fff;
}

.warning {
  text-align: center;
  padding: 20px;
  font-size: 20px;
  color: #ccc;
}

.title {
  cursor: pointer;
}